global:
  scrape_interval:     10s
  evaluation_interval: 10s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'system'
    static_configs:
      - targets: ['node_exporter:9100']

  - job_name: 'api'
    static_configs:
      - targets: ['host.docker.internal:7070']

# https://docs.docker.com/config/daemon/prometheus/